/* You can add global styles to this file, and also import other style files */
a.routerLink {
    color: blue
}

a.routerLinkActive {
    color: darkblue; 
}

nav {
    color: black;
    text-align: center;
    padding: 18px;
}

a {
    padding: 14px;
 }
